In [2]:
import tabula
import pandas as pd
import numpy as np

In [3]:
#df=tabula.read_pdf("BlrQuarantine.pdf",pages='all')

In [4]:
#tabula.convert_into("BlrQuarantine.pdf", "BlrQuar.csv", output_format="csv",pages='all') #for viewing high level

In [5]:
df=pd.read_csv("BlrQuar.csv")

In [6]:
df.reset_index(drop=True,inplace=True)
df

,S.No.,Date of\rArrival,Date until\rQuarantine\rd at home,Port of Origin of journey,Port of Final Destination,House No,Street/ Village,Tehsil,District/ City,State,PIN,Final District/ City
0,1,23-Mar-20,6-Apr-20,Dubai,Bangalore,22,Koramangala,NaN,Bangalore,Karnataka,560034,"engaluru (Urban, Rural & BBMP"
1,2,22-Mar-20,5-Apr-20,Dubai,Bangalore,201 A,"22nd A cross, 17 A cross,","3rd sector, HSR layout",Bangalore,Karnataka,560102,"engaluru (Urban, Rural & BBMP"
2,3,22-Mar-20,5-Apr-20,Los Angeles,Bangalore,Parinitha,"Jairam estate, Jakkur",NaN,Bangalore,Karnataka,560064,"engaluru (Urban, Rural & BBMP"
3,4,22-Mar-20,5-Apr-20,Dubai,Bangalore,2038,Indiranagar,HAL 2nd stage,Bangalore,Karnataka,560008,"engaluru (Urban, Rural & BBMP"
4,5,22-Mar-20,5-Apr-20,Seattle,Bangalore,71,GP Rajarampur 9th main,Hanumanthnagar,Bangalore,Karnataka,560019,"engaluru (Urban, Rural & BBMP"
...,...,...,...,...,...,...,...,...,...,...,...,...
14905,14906,10-Mar-20,24-Mar-20,DUBAI,Bangalore,Jun-01,JAGADISH NAGAR,7TH MAIN,BANGALORE,KARNATKA,560075,"Bengaluru (Urban, Rural & BBMP)"
14906,14907,10-Mar-20,24-Mar-20,Dubai,Bangalore,# 87,J.P Nagar,NaN,Bangalore,Karnataka,560078,"engaluru (Urban, Rural & BBMP"
14907,14908,10-Mar-20,24-Mar-20,Dubai,Bangalore,# 87,J.P Nagar,NaN,Bangalore,Karnataka,560078,"engaluru (Urban, Rural & BBMP"
14908,14909,10-Mar-20,24-Mar-20,Dubai,Bangalore,# 87,J.P Nagar,NaN,Bangalore,Karnataka,560078,"engaluru (Urban, Rural & BBMP"
14909,14910,10-Mar-20,24-Mar-20,DUBAI,BENGALURU,Mar-00,J.P Nagar,NaN,bangalore,Karnataka,560078,"engaluru (Urban, Rural & BBMP"

In [7]:
#Cleanup column names
df.columns=df.columns.str.replace(' ','_')
df.columns=df.columns.str.replace('\r','_')
df = df.rename(columns={'Date_until_Quarantine_d_at_home': 'Date_until_Quarantined_at_home',
                        'Street/_Village': 'Street_Village', 
                        'District/_City' : 'District_City',  
                        'Final_District/_City' : 'Final_District_City'
                       })
df.columns

Index(['S.No.', 'Date_of_Arrival', 'Date_until_Quarantined_at_home',
       'Port_of_Origin_of_journey', 'Port_of_Final_Destination', 'House_No',
       'Street_Village', 'Tehsil', 'District_City', 'State', 'PIN',
       'Final_District_City'],
      dtype='object')

In [8]:
#Check which columns have how many missing values
df.isnull().sum()

S.No.                                0
Date_of_Arrival                      0
Date_until_Quarantined_at_home       0
Port_of_Origin_of_journey           81
Port_of_Final_Destination           45
House_No                           338
Street_Village                     629
Tehsil                            3934
District_City                      188
State                              282
PIN                                123
Final_District_City               1471
dtype: int64

In [9]:
# View each of the columns with missing values
df[df.House_No.isnull()]

,S.No.,Date_of_Arrival,Date_until_Quarantined_at_home,Port_of_Origin_of_journey,Port_of_Final_Destination,House_No,Street_Village,Tehsil,District_City,State,PIN,Final_District_City
5,6,22-Mar-20,5-Apr-20,Dubai,Bangalore,NaN,Jp Nagara 9Th Phade,NaN,Banagalore,Karnataka,560062,"engaluru (Urban, Rural & BBMP"
9,10,22-Mar-20,5-Apr-20,Dubai,Bangalore,NaN,Sam,Kj Hali,Banagalore,Karnataka,560045,"engaluru (Urban, Rural & BBMP"
35,36,22-Mar-20,5-Apr-20,Dubai,Bangalore,NaN,NaN,NaN,Navundra,Karnataka,"Bengaluru (Urban, Rural & BBMP",NaN
133,134,22-Mar-20,5-Apr-20,Dubai,Bangalore,NaN,Manipal County Road,Singasandra,Bangalore,Karnataka,560068,"engaluru (Urban, Rural & BBMP"
188,189,21-Mar-20,4-Apr-20,Dubai,Bangalore,NaN,Gottikere,Shivajinagar,Bangalore,Karnataka,NaN,"Bengaluru (Urban, Rural & BBMP)"
...,...,...,...,...,...,...,...,...,...,...,...,...
13635,13636,11-Mar-20,25-Mar-20,Jeddah Saudi Arabia,Bangalore,NaN,"304 B , Pristime Elegan",6th Cross Old MG Road,Bengaluru,Karnataka,560068,"engaluru (Urban, Rural & BBMP"
13811,13812,11-Mar-20,25-Mar-20,ABU DHABI,MANGALORE,NaN,NITTE,NITTE,KARNATAKA,KARNATAKA,NaN,"engaluru (Urban, Rural & BBMP"
13820,13821,11 Mar 20,25-Mar-20,DUBAI,BANGALORE,NaN,BADAGERE,NaN,BANGALORE,KARNATAKA,560087,"engaluru (Urban, Rural & BBMP"
13821,13822,11 Mar 20,25-Mar-20,NaN,NaN,NaN,NaN,NaN,BANGALORE,KARNATAKA,560078,"engaluru (Urban, Rural & BBMP"
13823,13824,11 Mar 20,25-Mar-20,FRANCE FURT AIRPORT,BANGALORE,NaN,NaN,NaN,BANGALORE,KARNATAKA,"Bengaluru (Urban, Rural & BBMP",NaN

In [10]:
# Handling the missing data:
df.dropna(subset=['Port_of_Origin_of_journey'],inplace=True) #remove missing values in this column
df['Port_of_Final_Destination'].fillna('Bangalore',inplace=True) #must be bangalore right?

In [11]:
# Salvage PIN from 'State' column
df_pin=df[pd.to_numeric(df['State'], errors='coerce').notnull()] # 455 rows initial
for ind,row in df_pin.iterrows():
    df.loc[ind,'Tehsil':]=df.loc[ind,'Tehsil':].shift(1) #shift row contents by +1 column
df[pd.to_numeric(df['State'], errors='coerce').notnull()] #check

Empty DataFrame
Columns: [S.No., Date_of_Arrival, Date_until_Quarantined_at_home, Port_of_Origin_of_journey, Port_of_Final_Destination, House_No, Street_Village, Tehsil, District_City, State, PIN, Final_District_City]
Index: []

In [12]:
# Check for PIN in Final district city column
df_fdc=df[pd.to_numeric(df['Final_District_City'], errors='coerce').notnull()] #378 rows initially
for ind,row in df_fdc.iterrows():
    df.loc[ind,:'Final_District_City']=df.loc[ind,:'Final_District_City'].shift(-1) #shift row contents by -1 column
df[pd.to_numeric(df['Final_District_City'], errors='coerce').notnull()] #check

Empty DataFrame
Columns: [S.No., Date_of_Arrival, Date_until_Quarantined_at_home, Port_of_Origin_of_journey, Port_of_Final_Destination, House_No, Street_Village, Tehsil, District_City, State, PIN, Final_District_City]
Index: []

In [18]:
df[df.PIN.isnull()] #123 rows of null pin values. Can be dropped.
df.dropna(subset=['PIN'],inplace=True)
df[pd.to_numeric(df['PIN'], errors='coerce').isnull()] # 1409 non-numeric values. No PIN info salvageable. So remove
df=df[~pd.to_numeric(df['PIN'], errors='coerce').isnull()] # non numeric removed
df[pd.to_numeric(df['PIN'], errors='coerce').isnull()] #check

Empty DataFrame
Columns: [S.No., Date_of_Arrival, Date_until_Quarantined_at_home, Port_of_Origin_of_journey, Port_of_Final_Destination, House_No, Street_Village, Tehsil, District_City, State, PIN, Final_District_City]
Index: []

In [34]:
#check unique PIN locations 
#df['PIN'].unique() #check unqiue elements of PIN

In [35]:
# drop rows which have less than 6 digits
#df_zip=df[df['PIN'].astype(str).str.len()<6]
#len(df_zip['PIN']) # 98 entries less than 6 digits, can eliminate
#df_zip=df[~df['PIN'].astype(str).str.len()<6] # 
#df_zip=df[df['PIN'].astype(str).str.len()>6]
#len(df_zip['PIN']) # 80 entries greater than 6 digits eliminate these also
df_zip_clean=df[df['PIN'].astype(str).str.len()==6]
len(df_zip_clean['PIN'])

13119

In [40]:
#df_zip_clean['Port_of_Final_Destination'].unique()
df_zip_clean.to_csv('BlrQrZips.csv',index=False)